/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


#home-box{
  background-color: blue;
  display: flex;
  justify-content: center;
  border-style: dashed;
 
  margin : 20px;


}

.image-box{
  width: 50%;
  height: 50%;
  margin : 10px;
}

#home-box img{

  width: 100%;
  height : 100%;

}
/* male section */

.item-container{
  /* background-color: black; */
  display : flex;
  justify-content: center;
  flex-wrap: wrap;
  margin : 50px;
  

}

.boxy{
  width : 35%;
  height : 35%;
  margin : 20px;

}

.boxy img{
  width : 215px;
  height : 215px;
}

.boxy button{
  background-color: #222;
  border: 1px;
  color: azure;
  cursor: pointer;
}

/* cart css*/
.cart-parent{
  display: flex;
  justify-content: center;
}

.cart-parent img{
  vertical-align: top;
}

/*????????????????????????????*/
#item-btn{
  margin-top: 85px;
}

.item-des{
   display: inline-block; 
  
}




.left-side{
  /* margin-left :24px; */
  margin-right : 24px;
  width: 642px;
  background-color: aqua;
}

.right-side{
  background-color: rgb(122, 165, 42);
  width: 309px;
}