

#top-home{
  /* margin: auto;
  width : 50%;
  height : 50%; */
  display: flex;
  justify-content: center;
  margin : auto;
  width: 80%;
}
#top-home img{
  width: 100%;
  height: 100%;

}

#home-box{
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  /* border-style: dashed; */
 
  margin : 20px;


}

/* h3{
  color: aqua;
  text-align: center;
} */

#hello{
  text-align : center
}

.image-box{
  /* width: 50%;
  height: 50%; */
  margin : 10px;
  width: 80%;
  height: 30%;
}

#home-box img{

  width: 100%;
  height : 100%;

}
/* male section */

.item-container{
  /* background-color: black; */
  display : flex;
  justify-content: center;
  flex-wrap: wrap;
   margin : 50px; 
  /* width : 800px; */
  

}

.boxy{
  width : 35%;
  height : 35%;
  margin : 20px;
  /* box-shadow: 0 14px 12px 0 rgba(42, 2, 2, 0.2); */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border: solid;
  border-width : thin;
  border-color: orange;

}
.boxy:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.boxy img{
  width : 215px;
  height : 215px;
}

.boxy button{
  background-color: #222;
  border: 1px;
  color: azure;
  cursor: pointer;
}

/* cart css*/
.cart-parent{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.cart-parent img{
  vertical-align: top;
}

/*????????????????????????????*/
#item-btn{
  /* margin-top: 85px; */
}

.item-des{
   display: inline-block; 
   margin-left: 20px;
  /* // height: 120px; */
  
}

.item-box{
  /* height : 120px */

}

.item-box img{
  width : 215px;
  height : 215px;

}




.left-side{
  /* margin-left :24px; */
  margin-right : 24px;
  /* width: 642px; */
  width : 500px;
  background-color: aqua;
}

.right-side{
  background-color: rgb(122, 165, 42);
  width: 309px;
  height: 300px;
}

#ar{
  vertical-align: middle;
}



.add-remove span{
  /* width : 10px;
  height : 5px; */
  background-color: white;

}